 
 /**importação de fonte*/
 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Nunito+Sans:opsz,wght@6..12,200&family=Oswald:wght@200;400;500;600;700&display=swap');
   
    body{
        margin: 0px; /*margin externa*/
        padding: 0px; /*margin interna*/
    }
    
    #superior{
        width: 100%;
        height: 80px;
        border: 1px solid rgb(117, 171, 224);
        
        padding: 5; /*margin interna*/
        background-color: rgb(106, 178, 240);
         
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-family: 'Archivo'; /*fonte do import Archivo*/
        border-bottom: 2px;
    
    }

    #menu a{
        color:rgb(243, 240, 247); /*corda fonte */
        
        font-size: 25px; /*tamanho da fonte*/
        font-weight: 800;/*grosura da fonte*/
        text-decoration: none; /*tira o inderline do link*/
        
        margin-right: 25px; /* espaço entre palavras*/
       
        margin-left: 60px;
       
    }
    #superior div a:hover{
        color:hotpink;
    }

   

        #superior button{
            margin-right: 9%;
            background-color: rgb(237, 237, 243);
            border: none; /*define borda nessa casa está sem borda */
            border-radius: 12%;   /*  define se vai ficar quanto arrendondada*/
            
            height: 34px; /*define comprimento*/
            width: 80px; /*define largura*/

            font-family: 'Archivo';/*modelo da fonte dentro do botão*/
            font-size: 18px; /*tamanho da fonte*/
            font-weight: 600; /*grosura da fonte*/
            color:rgb(11, 122, 234) /*cor da letra dentro ddo botão*/
            
            
            


        }

        #superior button:hover{
            color: hotpink;
        }





/*
body,html{
    height: 100%;
    margin: 0;
    
}

.bg{

    background-image: url(../imagens/ceuCom_nuvens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}


#menu_superior ul {
    
    list-style: none;
    padding: 0;
    background-color: aliceblue;
    
}

#menu_superior ul li{
    display: inline;
    
}

#menu_superior ul li a{
    color:rgb(3, 30, 117);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    
}

#menu_superior ul li a:hover{
    background-color:rgb(236, 183, 183);

}

#menu_superior ul li:last-child a{
    float: right;
    background-color:rgb(123, 194, 244);
}
 fotter 

footer {
    width: 100%;
    background-color:rgb(123, 194, 244);

}

footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul{
    list-style: none;
    margin: 2px;
    padding: 0px;

    height: 330;
    
}
footer h5{
    text-align: center;
    color:lightyellow;
   
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(229, 92, 239);
    border-radius: 15px;

    padding:  0px 10px 0px 10px;
    margin-bottom: 5px;

}

footer .linha1 ul li {
    text-align: center;
    color: lightyellow;
    font-weight: 500;
    font-size: 18px;
}

footer .linha1 a:hover{
    color: rebeccapurple;
}

footer .linha1 ul li a{
    color: lightyellow;
    text-decoration: none;
}


footer .endereco{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: lightyellow;
    text-align: center;
    width: 20%;
}

footer .linha2{
    height: 35px;
    display: flex;
    justify-content: center;
    margin:  0px;
    padding: 10px;
}

footer .linha2 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: lightyellow;
    text-decoration: none;
    padding: 7px;
}
footer .linha2 a:hover{
    color: rebeccapurple;

}
*/

@media only screen and (max-width: 600px){
    #menu_superior{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0px;


    }
    #menu_superior a{
        display: flex;
        height: 50px;
        align-items: center;
        
    }
    #menu_superior button{
        width: 100px;
        margin:0px;

    }


}